body {
    margin: 0 auto;
    width: 1440px;
    height: 844px;
    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1440px;
    height: 89px;
    left: 0px;
    top: 0px;
    background: #590BFF;
}

.header__address-book {
    position: relative;
    width: 403px;
    height: 63px;
    left: 29px;
    top: 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 0px;
    color: #FFFFFF;
}

.sidebar {
    position: absolute;
    width: 282px;
    height: 457px;
    left: 5px;
    top: 136px;
    border-right: 2px solid #C4C4C4;

}


.sidebar__header {
    position: absolute;
    width: 240px;
    height: 33px;
    left: 20px;
    top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
}

.sidebar__links-item {
    position: relative;
    width: 206px;
    height: 28px;
    left: 20px;
    top: 71px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FF710B;
}

.content {
    position: relative;
    width: 1080px;
    height: 699px;
    left: 335px;
    top: 10px;
    background: #E5E5E5;

}

.content__header {
    position: relative;
    width: 1080px;
    height: 41px;
        left: 0px;
        background: #590BFF;
}

.content__header-firstletter {

    position: relative;
    width: 19px;
    height: 33px;
    left: 13px;
    top: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.content__catalog {
    width: 132px;
    height: 396px;
    left: 13px;
    top: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    color: #000000;

}